2247161_CAT1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:integer" name="qty"/>
              <xs:element name="unitprice"/>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="100"/>
                        <xs:maxInclusive value="600"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>